@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");



.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
  transition: all 0.4s;
}

.blog-slider__img {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  position: relative;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(-80px);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
}

.blog-slider__img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

.blog-slider__content {
  padding-right: 25px;
}

.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  letter-spacing: 1px;
}

.blog-slider__pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 11px !important;
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  margin: 8px 0;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .blog-slider {
    margin: 180px auto;
    height: auto;
    min-height: 500px;
  }
  .blog-slider__item {
    flex-direction: column;
  }
  .blog-slider__img {
    width: 90%;
    transform: translateY(-50%);
  }
  .blog-slider__pagination {
    top: 205px;
    left: 50% !important;
    transform: translateX(-50%);
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .blog-slider__pagination .swiper-pagination-bullet {
    margin: 0 5px;
  }
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}
