.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.part {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.section img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* Cursor */
.cursor {
  position: absolute;
  border-radius: 50%;
  background: white;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 99;
}

.cursorF {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  mix-blend-mode: difference;
  background-size: cover;
  pointer-events: none;
  z-index: 98;
}
